* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#nav-list {
    list-style: none;
    text-align: center;
    font-size: 1.8em;
    margin-top: 10px;
}
.box {
    height: 400px;
    margin: 15px;
}
#div1 {
    background-color:brown;
    font-size: 1.4em;
}
#div2 {
    background-color:blue;
    font-size: 1.4em;
}
#div3 {
    background-color:chocolate;
    font-size: 1.4em;
}
#header-nav {
    border: 2px solid #61122f;
    background-color: orange;
}
.navbar-header {
    padding: 15px;
}
.navbar-brand {
    padding-top: 15px;
}
.navbar-brand h1 {
    margin-top: 0;
    font-size: 1.5em;
}

