* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    margin-bottom: 30px;
}
p {
    width: 100px;
    height: 30px;
    border: 1px solid black;
    margin: -1px;
    margin-left: 100%;
    float: right;
}
#div1 {
    background-color:cadetblue;
    border: 1px solid black;
    position: relative;
    width: 29%;
    height: 200px;
    float: left;
    margin-left: 5%;
    margin-bottom: 5%;
}

#div2 {
    background-color:cadetblue;
    border: 1px solid black;
    position: relative;
    width: 29%;
    height: 200px;
    float: left;
    margin-left: 5%;
    margin-bottom: 5%;
}
#div3 {
    background-color:cadetblue;
    border: 1px solid black;
    position: relative;
    width: 29%;
    height: 200px;
    float: left;
    margin-left: 5%;
    margin-bottom: 5%;
}
#p1 {
    background-color:darksalmon;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
#p2 {
    background-color:brown;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
#p3 {
    background-color:tan;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
@media (min-width: 992px) {
    #div1 {
        width: 27%;
    }
    #div2 {
        width: 27%;
    }
    #div3 {
        width: 27%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    #div1 {
        margin-left: 6.5%;
        width: 40%;
    }
    #div2 {
        margin-left: 6.5%;
        width: 40%;
    }
    #div3 {
        margin-left: 6.5%;
        width: 86.5%;
    }
}
@media (max-width: 767px) {
    #div1 {
        margin-left: 10%;
        width: 80%;
    }
    #div2 {
        margin-left: 10%;
        width: 80%;
    }
    #div3 {
        margin-left: 10%;
        width: 80%;
    }
}